---
layout: default
---

<div class="wrapper events--hero">
  <h1>Events</h1>
  <p>Have a look at what we have planned for your next unforgettable night out!</p>
  {% include searchbar.html %}
</div>


<section class="all-upcoming-events">
  <div class="wrapper">
    <div class="events-header">
      <h6 class="tiny-heading">Upcoming Events</h6>
      <div class="location-filter">
        <small>Filter</small>
        <select>
          <option>Sydney</option>
          <option>Melbourne</option>
          <option>Canberra</option>
          <option>Brisbane</option>
          <option>Adelaide</option>
          <option>Perth</option>
        </select>
      </div>
    </div>
    <div class="events-grid">
      {% include eventcard--standard.html %}
      {% include eventcard--soldout.html %}
      {% include eventcard--sellingfast.html %}
      {% include eventcard--standard.html %}
      {% include eventcard--standard.html %}
      {% include eventcard--standard.html %}
    </div>
    <div class="events--viewall">
      <a href="events.html" class="button">Load More</a>
    </div>
  </div>
</section>


{% include footer.html %}
