<section class="mail-cta">
  <div class="wrapper">
    <h2>Sign up to our newsletter</h2>
    <p>Drop your email below and we’ll let you know about events in your area</p>


    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
      <form action="https://matthewvernon.us9.list-manage.com/subscribe/post?u=65e0327de0853f38aae490876&amp;id=c99a126f7c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc-signup-form">
        <div class="mc-field-group">
    	     <!-- <label for="mce-EMAIL">Email Address</label> -->
    	      <input type="email" placeholder="Your Email Address" name="EMAIL" class="email" id="mce-EMAIL">
          </div>
        <div class="mc-field-group">
    	      <!-- <label for="mce-FNAME">First Name </label> -->
    	      <input type="text" placeholder="Your First Name" name="FNAME" class="" id="mce-FNAME">
        </div>
        <div class="mc-field-group">
    	     <!-- <label for="mce-LNAME">Last Name </label> -->
    	      <input type="text" placeholder="Your Last Name" name="LNAME" class="" id="mce-LNAME">
        </div>
    	   <div id="mce-responses" class="clear">
    		     <div class="response" id="mce-error-response" style="display:none"></div>
    		     <div class="response" id="mce-success-response" style="display:none"></div>
    	   </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
         <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_65e0327de0853f38aae490876_c99a126f7c" tabindex="-1" value=""></div>
         <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
      </form>
    </div>

    <!--End mc_embed_signup-->
  </div>



</section>
