<div class="searchbar">
  <div class="searchbar--location">
    <input type="text" placeholder="Search events via Location">
  </div>
  <!-- <div class="searchbar--date">
    <div class="date--from"></div>
    <div class="date--until"></div>
  </div> -->
  <div class="searchbar--tickets">
    <select name="tickets">
      <option value="1">1 Ticket</option>
      <option value="2">2 Tickets</option>
      <option value="3">3 Tickets</option>
      <option value="4">4 Tickets</option>
      <option value="5+">5+ Tickets</option>
    </select>
  </div>
  <a href="#" class="button" id="search-button">Search</a>
</div>
