/* Base elements */

body {
  background-color: $nude3;
  font-family: sans-serif;
  font-size: 16px;
  color: $navy;
}

h1 {
  font-size: 86px;
}

h2 {
  font-size: 56px;
}

a {
  color: $navy;
  text-decoration: none;
}
