.button {
  padding: 22px 40px;
  color: white;
  background-color: $navy;
  border-radius: 4px;

  text-transform: uppercase;
  font-family: $camp-semi;
  letter-spacing: 0.5px;

  font-size: 14px;

  transition: 0.2s;
}

.button:hover {
  background-color: $navy2;
  transform: scale(1.02);
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.08);
}

.button.soldout {
  background-color: $nude2;
  color: $navy;
}

.button.soldout:hover {
  background-color: $nude3;
  box-shadow: none;
}

.button.sellingfast {
  background-color: $yellow;
  color: $navy;
}

.button.sellingfast:hover {
  background-color: $yellow2;
}

.button.nude {
  background-color: $nude4;
  color: $navy;
}

.button.nude:hover {
  box-shadow: none;
  background-color: $nude4;
}
