footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  padding-bottom: 40px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  font-family: $mono;

  nav a {
    display: block;
    margin-bottom: 10px;
  }

}

.footer--social a {
  display: inline;
  margin-right: 10px;
}

.footer--social a:last-child {
  display: inline;
  margin-right: 0px;
}
