footer {
  padding: 100px 30px;
  font-family: $mono;
  background-color: white;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  nav a {
    display: block;
    margin-bottom: 10px;
  }

}

.footer--social a {
  display: inline;
  margin-right: 10px;
}

.footer--social a:last-child {
  display: inline;
  margin-right: 0px;
}


.mail-cta {
  text-align: center;
  background-color: white;
  padding-top: 80px;

  h2 {
    margin-bottom: 10px;
    margin-top: 0;
  }

  p {
    margin: 0 auto;
    max-width: 350px;
  }


  #mc-signup-form {
    margin-top: 40px;
    display: flex;
  }

  .mc-field-group {
    flex: 1;
    margin-right: 10px;
  }
}
