header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header--main {
  font-family: $mono;

  a {
    margin: 0 15px;
    opacity: 0.8;
    transition: 0.2s;
  }

  a:hover {
    opacity: 1;
  }
}

.header--options {

  a:first-child {
    margin-right: 20px;
  }

}
