.searchbar {

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 80px 0;

  div {
    display: inline-block;
    margin-right: 5px;
  }

}

.searchbar--location {
  flex: 1;

  input {
    max-width: 100%;
    box-sizing: border-box;
  }
}

// .searchbar--date {
//   flex: 2;
// }
//
// .searchbar--date div {
//   height: 63px;
//   width: 45%;
//   background-color: $navy;
// }

.searchbar--tickets {
  width: 200px;
}
