.wrapper.checkout-form {
  @include small {
    padding: 0 10px;
  }
}

.checkout-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  background-color: white;
  margin-bottom: 40px;

  h2 {
    font-family: $camp-med;
    font-size: 24px;
    margin: 0;

    @include small {
      font-size: 18px;
    }
  }

  h3 {
    @include small {
      font-size: 16px;
    }
  }
}

.checkout-wrapper:last-child {
  margin-bottom: 100px;
}

.checkout-header {
  background-color: $white;
  border-bottom: 1px solid $grey2;
  padding: 30px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include small {
    padding: 20px;
  }
}

.checkout-container {
  padding: 30px 30px 20px 30px;
  background-color: $white;

  @include small {
    padding: 20px;
    font-size: 12px;
  }

  input {
    margin-bottom: 10px;
  }

  h3 {
    @include small {
      font-size: 12px;
    }
  }
}

.checkout-container.sml-padding {
  padding: 10px 30px 20px 30px;

  @include small {
    padding: 5px 20px;
  }
}

// FLEX BOX TABLE ////////////////////////////////////////////////////////////

.Rtable {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 20px 0;
  padding: 0;
}

.Rtable-cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;  // Default to full width
  padding-right: 20px;
  list-style: none;
  > h1, > h2, > h3, > h4, > h5, > h6 {
    margin-bottom: 10px;
    margin-top: 0;
  }
}

.Rtable-cell.cell-lg {
  width: 18%;
}

.Rtable-cell.cell-sml {
  width: 8%;
}

// /* Table column sizing
// ================================== */
// .Rtable--2cols > .Rtable-cell  { width: 50%; }
// .Rtable--3cols > .Rtable-cell  { width: 33.33%; }
// .Rtable--4cols > .Rtable-cell  { width: 25%; }
// .Rtable--5cols > .Rtable-cell  { width: 20%; }
// .Rtable--6cols > .Rtable-cell  { width: 16.6%; }
.Rtable-cell--alignRight { text-align: right; }



////////////////////////////////////////////////////////////

.order-total {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.checkout--fieldgroup {
  display: flex;
  margin-bottom: 5px;

  @include small {
    display: block;
  }
}

.discount-code--fieldgroup {
  align-items: flex-end;

  button {
    padding: 23px 40px;
  }
}



.input-wrap {
  flex: 1;
  margin-left: 15px;

  @include small {
    margin-left: 0;
  }
}

.input-wrap:first-child {
  margin-left: 0;
}

.payment-logos {
  display: flex;
  align-items: center;

  img {
    margin-left: 15px;
  }

  @include small {
    display: none;
  }
}

// back button

.checkout-form {
  position: relative;
}

.back-button {
  position: absolute;
  top: 0;
  left: 20px;
  height: 100%;

  @include medium {
    display: none;
  }

  a {
    position: sticky;
    top: 60px;
    opacity: 0.4;
    transition: 0.2s;
  }

  a:hover {
    opacity: 1;
  }
}
