.events--hero {
  .searchbar {
    margin-top: 40px;
  }

  p {
    margin-top: 0;
  }
}

.all-upcoming-events {
  padding-top: 60px;
  background-color: $grey2;

  @include small {
    padding-top: 30px;
  }
}
