.eventpage--hero {
  margin-top: 10px;
  display: flex;

  @include small {
    margin-top: 0;
    flex-direction: column;
  }

  h1 {
    font-family: $camp-semi;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: -1px;
    margin-top: 0;

    @include small {
      font-size: 36px;
      line-height: 40px;
    }
  }
}

.eventpage--image,
.eventpage-details {
  min-height: 600px;

  @include small {
    min-height: 40vh;
  }
}

.eventpage--image {
  width: 60%;
  background-size: cover;
  background-position: center;

  @include small {
    width: 100%;
  }
}

.eventpage--details {
  width: 40%;
  background-color: white;
  padding: 60px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;

  @include small {
    width: 100%;
    padding: 40px;
  }

  .button {
    text-align: center;
  }

  img {
    float: left;
    margin-right: 10px;
  }

  small {
    font-family: $mono;
    font-size: 14px;
    display: inline-block;
    max-width: 150px;
    line-height: 20px;
    padding-left: 20px;

    @include medium {
      padding-left: 0;
      padding-top: 20px;
      max-width: 100%;
    }
  }

  p {

  }
}

.eventdetails--tickets {
  display: flex;
  align-items: center;
  width: 100%;

  @include medium {
    flex-direction: column;
    align-items: flex-start;
  }
}

.eventpage--date {
  font-family: $camp-med;
  margin-bottom: 20px;

  .date--number {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;

    @include small {
      font-size: 30px;
    }
  }

  .date--month {
    text-transform: uppercase;
    font-size: 18px;
    font-family: $camp-semi;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.eventpage--description,
.eventpage--artist,
.eventpage--location {
  margin-top: 60px;
}


.artist--card,
.location--card {
  display: flex;
  background-color: white;
  margin-top: 30px;

  @include small {
    flex-direction: column;
  }
}

.artist--image,
.location--image {
  width: 50%;
  background-size: cover;
  background-position: center;

  @include small {
    height: 30vh;
    width: 100%;
  }
}

.artist--details {
  width: 50%;
  padding: 50px;

  @include small {
    width: 100%;
  }

  h2 {
    font-family: $camp-semi;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
  }

  p {
    margin-top: 0;
    line-height: 30px;
    max-width: 400px;
  }

  a {
    opacity: 0.8;
    transition: opacity 0.2s;
    margin-right: 20px;
  }

  a:hover {
    opacity: 1;
  }

  .website-link {
    color: $nude5;
    font-family: $mono;
    border-bottom: 1px solid $nude5;
    margin-bottom: 5px;
  }
}

.artist--links {
  display: flex;
  align-items: center;
}

.location--card a {
  font-family: $camp-med;
  display: flex;
  align-items: center;

  img {
    margin-right: 10px;
  }
}


.upcoming-events {
  margin-top: 0px;

  strong {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 20px;
  }
}

.eventpage--furtherdetails {
  position: relative;
  margin-bottom: 80px;
}



























//
