.faqs {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  padding-bottom: 100px;
}

.faqs--question {
  flex: 50%;
  margin-bottom: 30px;

  @include small {
    flex: 100%;
    padding: 0!important;
  }

  strong {
    font-family: $camp-semi;
    font-size: 18px;
    display: block;
    max-width: 500px;
    line-height: 24px;
  }

  p {
    max-width: 500px;
    line-height: 24px;
  }

  a {
    padding-bottom: 2px;
    border-bottom: 2px solid $nude5;
    transition: 0.2s;
  }

  a:hover {
    border-bottom: 2px solid $navy;
  }
}

.faqs--question:nth-of-type(odd) {
  padding-right: 15px;
}

.faqs--question:nth-of-type(even) {
  padding-left: 15px;
}
