.hero.giftcard-hero {
  padding-bottom: 30px;
}

.giftcard-builder {
  position: relative;
  height: 1300px;

  @include medium {
    height: 1100px;
  }

  @include small {
    height: 1200px;
  }
}

.giftcard-builder.wrapper {
  @include small {
    padding: 0;
  }
}

.giftcard-banner {
  max-width: 970px;
  height: 500px;
  background-color: $grey5;
  border-radius: 4px;
  margin: 0 auto;
  position: relative;

  @include small {
    width: 95%;
    height: 30vh;
    z-index: -1;
  }

  .upload-button {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 2;

    @include small {
      top: 15px;
      right: 15px;
    }
  }

  .prev {
    position: absolute;
    top: 50%;
    left: -40px;
    transform: translateY(-50%);
    cursor: pointer;

    @include medium {
      left: 40px;
    }

    @include small {
      display: none;
    }
  }

  .next {
    position: absolute;
    top: 50%;
    right: -40px;
    transform: translateY(-50%);
    cursor: pointer;

    @include medium {
      right: 40px;
    }

    @include small {
      display: none;
    }
  }

  .slider {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    z-index: -1;

    div {
      width: 100%;
      height: 100%;
      background-size: cover;
    }
  }
}

.giftcard-form {
  width: 570px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid $grey4;

  position: absolute;
  top: 300px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;

  @include small {
    width: 90%;
    position: static;
    transform: none;
    margin: -70px auto 0 auto;
    z-index: 2;
  }
}

.form-container {
  padding: 50px 40px;

  @include small {
    padding: 30px 20px;
  }
}

textarea.giftcard-message {
  background-color: white;
  box-shadow: none;
  text-align: center;
  font-family: $noe;
  font-size: 36px;
  min-height: 160px;
}

.giftcard-amount--options {
  margin-top: -10px;
  margin-bottom: 50px;
}

.giftcard-send--header {
  // width: calc(100% + 60px);

  margin-top: -20px;

  a {
    display: inline-block;
    width: 50%;
    text-align: left;
    border-bottom: 1px solid $grey3;
    font-family: $camp-med;
    padding-bottom: 15px;
    color: $grey5;
    padding-left: 25px;
    transition: 0.2s;
  }

  a:hover {
    color: $navy;
  }

  a.selected {
    border-bottom: 3px solid $navy;
    color: $navy;
  }
}

#email-details,
#print-details {
  background-color: $grey2;
  margin-top: -3px;
  padding: 10px 30px 30px 30px;
  text-align: left;
  border-radius: 4px;

  @include small {
    padding: 3px 12px 12px 12px;
  }

  input {
    margin-bottom: 10px;
  }
}

#print-details {

  display: none;

  p {
    max-width: 350px;
    margin-bottom: 0;
  }
}

.delivery-date-container {
  display: flex;
  align-items: flex-start;

  .asap-button {
    margin-top: 52px;
    margin-left: 20px;

    @include small {
      margin: 10px 0 0 0;
      display: block;
    }
  }

  @include small {
    display: block;
  }
}

.giftcard-form--submit {
  text-align: center;
  padding-bottom: 100px;

  a {
    display: block;
    max-width: 250px;
    margin: 10px auto;
  }
}
