.home--hero {
  text-align: center;
  background-color: $nude2;
  padding: 40px 30px 40px 30px;
  background-size: cover;
  background-position: center;

  h1 {
    font-size: 56px;
    max-width: 800px;
    margin: 60px auto 0px auto;
  }

  h2 {
    font-family: $camp-semi;
    font-size: 34px;
    margin-top: 10px;
  }
}

.ethos-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 100px 30px;
  background-color: $coral;

  h2 {
    font-size: 56px;
    color: white;
  }

  span {
    color: $navy;
  }

  div {
    max-width: 865px;
    margin: 0 auto;
  }
}
