.home--hero {
  text-align: center;

  h1 {
    font-size: 56px;
    max-width: 800px;
    margin: 60px auto 0px auto;
  }

  h2 {
    font-family: $camp-semi;
    font-size: 34px;
    margin-top: 10px;
  }
}
