.home--hero {
  text-align: center;
  background-color: $nude4;
  padding: 40px 30px 100px 30px;

  h1 {
    font-size: 56px;
    max-width: 800px;
    margin: 60px auto 0px auto;
  }

  h2 {
    font-family: $camp-semi;
    font-size: 34px;
    margin-top: 10px;
  }

  .searchbar {
    max-width: 1200px;
    margin: 0 auto;
  }
}
