.ethos-quote {

  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;

  h2 {
    font-size: 56px;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;

    @include medium {
      font-size: 36px;
      max-width: 540px;
    }
  }

}

.careers-features {

  padding-top: 60px;

  h2 {
    text-align: center;
    font-family: $camp-med;
    font-size: 24px;
  }

}

.careers-cta {

  text-align: center;
  padding: 30px 0 140px 0;

  h2 {
    font-size: 46px;
    margin-bottom: 0px;
  }

  p {
    margin-bottom: 40px;
  }

}

#enquire {

  padding-top: 60px;
  padding-bottom: 120px;

  .wrapper {
    text-align: center;
  }

  h2 {
    margin-bottom: 20px;
  }

  p {
    max-width: 600px;
    display: inline-block;
    margin: 0 auto 60px auto;
  }

}

.enquire--form {
  max-width: 700px;
  margin: 0 auto;

  input,
  textarea,
  select {
    margin-bottom: 10px;
  }
}

.legal-content {
  margin-bottom: 100px;

  .wrapper {
    max-width: 800px;
    margin: 0 auto;
  }

  li {
    margin-bottom: 10px;
    line-height: 24px;
    font-family: $camp-med;
  }

  .sub-title {
    font-family: $camp-semi;
    font-size: 20px;
    margin-top: 40px;
  }
}
