.order-confirmation {
  max-width: 880px;
  background-color: white;
  border: 1px solid $nude3;
  border-radius: 4px;
  margin: 0 auto 100px auto;
  padding: 100px 60px;
  text-align: center;

  @include small {
    width: 90%;
    padding: 50px 30px;
  }

  h1 {
    font-size: 46px;
    line-height: 48px;
    max-width: 400px;
    margin: 0 auto;

    @include small {
      font-size: 30px;
      line-height: 34px;
    }

    span {
      display: block;
      margin-bottom: 20px;
    }
  }

  p {
    max-width: 400px;
    line-height: 24px;
    margin: 30px auto;
  }

  a.button {
    margin-top: 60px;

    @include small {
      margin-top: 20px;
    }
  }
}

.order-confirmation--share {
  margin-top: 40px;

  a {
    margin: 0 10px;
  }
}

.order-confirmation--email {

  margin-top: 40px;

  p {
    margin-bottom: 20px;
  }

  .input-wrap {
    max-width: 450px;
    margin: 0 auto;
    position: relative;
  }

  a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: $navy;
    border-radius: 100px;
    position: absolute;
    right: 13px;
    bottom: 12px;
    background-image: url("images/icons/arrow-right.svg");
    background-position: center center;
    background-repeat: no-repeat;
  }

}
